langchain-openai
langchain
langchain-core
langgraph==0.3.3
typing-extensions
langchain-community
fastapi==0.109.2
uvicorn==0.27.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
sqlalchemy==1.4.50